h1{
    margin: 0 auto;
    display: block;
    color:rgb(53, 98, 181);
    text-align: center;
}
.list{
    width: 210px;
    height: 200px;
    display: inline;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: #DCDCDC;
}
.list:hover{
    background-color: #D3D3D3;
}
.addChItem{
float:right;
display:inline-block;
padding:1px;
margin:1px;
}
.textNewItem{
    float:left;
}
#mainDiv{
display:flex;
border:solid 2px;
padding:10px;
margin:10px;
}
.itemList{
display:block;
padding:1px;
margin:1px;
}
.itemList p{
display:inline-block;
padding:1px;
margin:1px;
}
.newListTextBox{
width:148px;
}